// grasacgks base, which Bootstrap overrides.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // grasacgks variables.
@import "../mixins";                      // grasacgks mixins.
// -----------------------------------------------------------------------------

/* Insert your grasacgks base overrides over Vartheme BS4 and Bootstrap */



body {
  font-family: 'Noto Sans Canadian Aboriginal', 'Noto Sans', sans-serif;
}

.page-node-type-article {
  #block-grasacgks-page-title > h2{
    display: none;
  }
}
.page-node-type-page {
    .field.field--name-node-title > h2{
      display: none;
    }
  #block-grasacgks-page-title > h2{
    display: none;
  }
}
.page-node-type-heritage-item {
  .field.field--name-node-title > h2{
    display: none;
  }
  #block-grasacgks-page-title > h2{
    display: none;
  }
}
// D7 language-item content type is using this fontN classes to color Body text

.font11 {
  color: purple;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}
.font10 {
  color: navy;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}
.font9 {
  color: #339966;
  font-weight: 400;
  font-style: italic;
  text-decoration: none;
}
.font8 {
  color: purple;
  font-weight: 400;
  font-style: italic;
  text-decoration: none;
}
.font7 {
  color: navy;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

// search-page dropdown facet to have only heriatge and language-items
.page-view-search-page {
  #block-contenttype {
    select option:nth-child(4){
      display: none;
    }
    select option:nth-child(5){
      display: none;
    }
  }
}
#navbar-collapse{
  button#edit-reset{
    display:  none;
  }
  button#edit-reset--1{
    display:  none;
  }
  button#edit-reset--2{
    display:  none;
  }
  button#edit-reset--3{
    display:  none;
  }
}
// heritage material filter in view
#views-exposed-form-browse-gks-page-1 {
  input#edit-field-description-materials-value {
    margin-top: 1rem;
  }
}

.text-muted{
  color: #212529 !important;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.7);
}
.btn-primary {
  color: #fff;
  border-color: #0d49cb;
  background-color: #0d49cb;
}

a {
  text-decoration: none;
  color: #0f58a6;
  background-color: transparent;
}

.navbar-brand{
  img.img-fluid{
    margin-top: -0.3rem;
  }
}

#block-grasacgks-main-menu {
  ul.nav ul.dropdown-menu li.menu-item--expanded:hover ul.dropdown-menu {
    width: 270px;
  }
  .dropdown-menu .menu-item--expanded > a::after {
    margin-right: -15px;
  }

  ul.dropdown-menu>li.dropdown-item.menu-item--expanded.dropdown>ul.dropdown-menu>li.dropdown-item{
    white-space: normal;
  }
  //ul li:first-child > ul li:first-child {white-space: normal;}
  //ul li:first-child > ul li:nth-child(2) {white-space: normal;}
  //ul li:nth-child(2) > ul li:first-child {white-space: normal;}
  //ul li:nth-child(2) > ul li:nth-child(2) {white-space: normal;}
}
#block-exposedformsearch-pagepage-1{
  margin-left: 20px;
  .js-form-item.js-form-type-textfield {
    width: 230px;
  }
}
.field-outer {
  margin: 1rem 0;
}
#views-exposed-form-search-page-page-1{
  #edit-aggregated-field--2 { width: 375px; }
}
#provenance-group {
  summary{
    font-weight: bold;
  }
}
#related-items-group {
  summary{
    font-weight: bold;
  }
}
#about-this-record-group {
  summary{
    font-weight: bold;
  }
}

// heritage material filter in view
#views-exposed-form-glossary-page-1 {
  input[id*="edit-combine"] {
    margin-top: 2rem;
  }
}


.layout-sidebar-first{
    #block-facetsummary{
      margin-top: 4rem;
    }
  }

