/* Insert your grasacgks base overrides over Vartheme BS4 and Bootstrap */
body {
  font-family: "Noto Sans Canadian Aboriginal", "Noto Sans", sans-serif;
}

.page-node-type-article #block-grasacgks-page-title > h2 {
  display: none;
}

.page-node-type-page .field.field--name-node-title > h2 {
  display: none;
}
.page-node-type-page #block-grasacgks-page-title > h2 {
  display: none;
}

.page-node-type-heritage-item .field.field--name-node-title > h2 {
  display: none;
}
.page-node-type-heritage-item #block-grasacgks-page-title > h2 {
  display: none;
}

.font11 {
  text-decoration: none;
  color: purple;
  font-weight: 700;
  font-style: normal;
}

.font10 {
  text-decoration: none;
  color: navy;
  font-weight: 700;
  font-style: normal;
}

.font9 {
  text-decoration: none;
  color: #396;
  font-weight: 400;
  font-style: italic;
}

.font8 {
  text-decoration: none;
  color: purple;
  font-weight: 400;
  font-style: italic;
}

.font7 {
  text-decoration: none;
  color: navy;
  font-weight: 700;
  font-style: normal;
}

.page-view-search-page #block-contenttype select option:nth-child(4) {
  display: none;
}
.page-view-search-page #block-contenttype select option:nth-child(5) {
  display: none;
}

#navbar-collapse button#edit-reset {
  display: none;
}
#navbar-collapse button#edit-reset--1 {
  display: none;
}
#navbar-collapse button#edit-reset--2 {
  display: none;
}
#navbar-collapse button#edit-reset--3 {
  display: none;
}

#views-exposed-form-browse-gks-page-1 input#edit-field-description-materials-value {
  margin-top: 1rem;
}

.text-muted {
  color: #212529 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.7);
}

.btn-primary {
  color: #fff;
  border-color: #0d49cb;
  background-color: #0d49cb;
}

a {
  text-decoration: none;
  color: #0f58a6;
  background-color: transparent;
}
