/* Insert your grasacgks base overrides over Vartheme BS4 and Bootstrap */
body {
  font-family: "Noto Sans Canadian Aboriginal", "Noto Sans", sans-serif;
}

.page-node-type-article #block-grasacgks-page-title > h2 {
  display: none;
}

.page-node-type-page .field.field--name-node-title > h2 {
  display: none;
}
.page-node-type-page #block-grasacgks-page-title > h2 {
  display: none;
}

.page-node-type-heritage-item .field.field--name-node-title > h2 {
  display: none;
}
.page-node-type-heritage-item #block-grasacgks-page-title > h2 {
  display: none;
}

.font11 {
  text-decoration: none;
  color: purple;
  font-weight: 700;
  font-style: normal;
}

.font10 {
  text-decoration: none;
  color: navy;
  font-weight: 700;
  font-style: normal;
}

.font9 {
  text-decoration: none;
  color: #396;
  font-weight: 400;
  font-style: italic;
}

.font8 {
  text-decoration: none;
  color: purple;
  font-weight: 400;
  font-style: italic;
}

.font7 {
  text-decoration: none;
  color: navy;
  font-weight: 700;
  font-style: normal;
}

.page-view-search-page #block-contenttype select option:nth-child(4) {
  display: none;
}
.page-view-search-page #block-contenttype select option:nth-child(5) {
  display: none;
}

#navbar-collapse button#edit-reset {
  display: none;
}
#navbar-collapse button#edit-reset--1 {
  display: none;
}
#navbar-collapse button#edit-reset--2 {
  display: none;
}
#navbar-collapse button#edit-reset--3 {
  display: none;
}

#views-exposed-form-browse-gks-page-1 input#edit-field-description-materials-value {
  margin-top: 1rem;
}

.text-muted {
  color: #212529 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.7);
}

.btn-primary {
  color: #fff;
  border-color: #0d49cb;
  background-color: #0d49cb;
}

a {
  text-decoration: none;
  color: #0f58a6;
  background-color: transparent;
}

.navbar-brand img.img-fluid {
  margin-top: -0.3rem;
}

#block-grasacgks-main-menu ul.nav ul.dropdown-menu li.menu-item--expanded:hover ul.dropdown-menu {
  width: 270px;
}
#block-grasacgks-main-menu .dropdown-menu .menu-item--expanded > a::after {
  margin-right: -15px;
}
#block-grasacgks-main-menu ul.dropdown-menu > li.dropdown-item.menu-item--expanded.dropdown > ul.dropdown-menu > li.dropdown-item {
  white-space: normal;
}

#block-exposedformsearch-pagepage-1 {
  margin-left: 30px;
}
#block-exposedformsearch-pagepage-1 .js-form-item.js-form-type-textfield {
  width: 200px;
}

.field-outer {
  margin: 1rem 0;
}

#views-exposed-form-search-page-page-1 #edit-aggregated-field--2 {
  width: 375px;
}

#provenance-group summary {
  font-weight: bold;
}

#related-items-group summary {
  font-weight: bold;
}

#about-this-record-group summary {
  font-weight: bold;
}
