/* Insert your grasacgks base overrides over Vartheme BS4 and Bootstrap */
body {
  font-family: "Noto Sans Canadian Aboriginal", "Noto Sans", sans-serif;
}

.page-node-type-article #block-grasacgks-page-title > h2 {
  display: none;
}

.page-node-type-page .field.field--name-node-title > h2 {
  display: none;
}
.page-node-type-page #block-grasacgks-page-title > h2 {
  display: none;
}

.page-node-type-heritage-item .field.field--name-node-title > h2 {
  display: none;
}
.page-node-type-heritage-item #block-grasacgks-page-title > h2 {
  display: none;
}
